*{
    font-family: 'Poppins', sans-serif;
}

.container{
    padding: 20px 0px;
}

.title-content{
    line-height: 20px;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid #c6c6c6;
    padding-bottom: 15px;
    
}

.judul-wisata{
    font-weight: bold;
    color: white;
}

.title-content h1{
    font-weight: bold;
}

.title-content h1 span{
    color: #3989d4;
}

.title-content p{
    color: grey;
}

.card-content{
    padding: 20px 0px;
    display: flex;
    
}

.card{          
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;    
    width: 403px;
    height: 263px;
}



.information{
    display: flex;
}

.information-content{
    display: flex;
    margin-right: 20px;
    font-size: 12px;
    color: white;
}

.information-picture{
    height: 15px;
    margin-right: 5px;
}

.text-thumbnail{
    font-size: 14px;
    text-align: justify;
}

.check-detail{
    font-size: 14px;
    border-radius: 20px;
}

.more a{
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}
